<button *ngIf="canEdit" class="edit-button" icon="edit"></button>
<div class="card" [ngStyle]="borderColor">
  <div class="background-overlay" [ngClass]="overlayClass"></div>

  <div class="card-fields">
    <bp-card-field
      label="Naam"
      [text]="name"
      [gender]="gender"
      [icon]="gender"
    ></bp-card-field>
    <bp-card-field
      label="Gewicht"
      [text]="(weight | number) + ' kg'"
      [gender]="gender"
      icon="weight"
    ></bp-card-field>
    <bp-card-field
      label="Datum"
      [text]="birthDateTime | date : 'd MMMM'"
      [gender]="gender"
      icon="calendar_month"
    ></bp-card-field>
    <bp-card-field
      label="Lengte"
      [text]="length + ' cm'"
      [gender]="gender"
      icon="straighten"
    ></bp-card-field>
  </div>
  <div class="participant">
    <span>Voorspeld door: {{ participant }}</span>
  </div>
</div>
