:host {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}
.btn-register {
  margin-top: 20px;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}
