:host {
  width: 100%;
  height: 5rem;
  background-color: var(--green);
  color: #fff;
  border: none;
  border-bottom: 7px solid var(--green-accent);
  border-radius: 29px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
}
:host:focus-visible {
  outline: 2px solid var(--green);
  outline-offset: 3px;
}

:host:active {
  border-bottom: 5px solid var(--green-accent);
}
