/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Chewy", cursive;
  box-sizing: border-box;
}
:root {
  --pink: #f9deca;
  --pink-accent: #c6b2a4;
  --blue: #d5e3d3;
  --green: #98a896;
  --color-form-control: var(--green-accent);
  --green-accent: #7c897a;
  --text-color: var(--green-accent);
  //   --text-color: #646f62;
  --text-color-secondary: #c5bdc1;
  --grey: #a8a8a8;
  --grey-accent: #908d8d;

  --progress-background-color: #f1f1f3;
  --progress-color: var(--green-accent);
}
body {
  background-color: #bcc6ba;
  color: var(--text-color);
  margin: 0;
}

.white-background {
  background-color: #fff;
}
