/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Chewy", cursive;
}
:root {
  --pink: #ffabd8;
  --blue: #bbcdf8;
  --purple: #adabff;
  --purple-accent: #8988c6;
}
