/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Chewy", cursive;
}
:root {
  --pink: #f8decb;
  --blue: #d5e3d3;
  --green: #98a896;
  --green-accent: #7c897a;
  --text-color: var(--green-accent);
  //   --text-color: #646f62;
  --text-color-secondary: #c5bdc1;

  --progress-background-color: #f1f1f3;
  --progress-color: var(--green-accent);
}
body {
  background-color: #bcc6ba;
  color: var(--text-color);
  margin: 0;
}

body {
  height: 100vh;
  height: fill-available;
  height: -webkit-fill-available;
}
html {
  height: fill-available;
  height: -webkit-fill-available;
}
